* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

@media screen and (max-width:500px) {
    html {
        font-size: 50px;
    }
}

@media screen and (min-width:501px) {
    html {
        font-size: 60px;
    }
}

@media screen and (min-width:800px) {
    html {
        font-size: 80px;
    }
}

@media screen and (min-width:1000px) {
    html {
        font-size: 100px;
    }
}

.box {
    min-width: 100%;
    /*height: 6rem; */
    /* width: 100%; */
    /* height: 90%; */
    background-color: rgb(236, 221, 240);
    /* background-color: #c3c2c4; */
    position: absolute;
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 10px 15px 10px 20px;
}

.top {
    width: 100%;
    height: 30px;
    background-color: rgb(211, 202, 214);
}

.top select {
    width: 150px;
    height: 30px;
    display: block;
}

.container {
    min-width: 8rem;
    /* min-height: 95%; */
    min-height: 4.85rem;
    background-color: white;
    margin: 10px 0;
    overflow: auto;
    padding-bottom: 50px;
}

.container .tab ul {
    /* clear: both; */
    height: 30px;
}

.container .tab li {
    width: 30px;
    height: 30px;
    /* width: 0.3rem;
    height: 0.3rem; */
    list-style: none;
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    background-color: rgb(17, 21, 83);
    color: white;
    line-height: 30px;
    text-align: center;
    float: left;
    font-size: 0.16rem;
}

.bottom {
    width: 100%;
    height: 50px;
    /* width: 7.7rem;
    height: 0.5rem; */
    background-color: rgb(211, 202, 214);
    font: normal bold 0.18rem/50px 'misrosoft yehei';
    padding: 0 30px;
    position: fixed;
    bottom: 0;
}

.bottom p {
    width: 1.5rem;
    height: 48px;
    border: 1px solid #000;
    float: left;
    padding-left: 0.2rem;
}

.bottom .bottomRight {
    float: right;
}

.bottom .bottomRight .count {
    color: red;
}


/* 右键标记样式 */

.box .container .tab ul li.active {
    background-color: rgb(255, 0, 221) !important;
}


/* 点击后的样式 */

.box .container .tab ul li.isCheck {
    background-color: #c3c2c4;
}


/* 雷的样式 */

.box .container .tab ul li.isBong {
    /* background-color: red !important; */
}


/* 游戏结果样式 */

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 100;
    display: none;
}

.mask .result-box {
    width: 8rem;
    height: 6rem;
    border-radius: 10px;
    border: 1px solid rgb(33, 33, 33);
    background-color: rgb(250, 250, 250);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mask .result-box h1 {
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.5rem;
}

.mask .result-box p {
    text-align: center;
    font-size: 0.16rem;
}

.mask .result-box button {
    width: 2rem;
    height: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}